@-webkit-keyframes spinning {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spinning {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes bursting {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    90% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes bursting {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

    90% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

@-webkit-keyframes flashing {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

@keyframes flashing {
    0% {
        opacity: 1;
    }

    45% {
        opacity: 0;
    }

    90% {
        opacity: 1;
    }
}

@-webkit-keyframes fading-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
}

@keyframes fading-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(-20px);
        transform: translateX(-20px);
        opacity: 0;
    }
}

@-webkit-keyframes fading-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
}

@keyframes fading-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateX(20px);
        transform: translateX(20px);
        opacity: 0;
    }
}

@-webkit-keyframes fading-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@keyframes fading-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
}

@-webkit-keyframes fading-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes fading-down {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
        opacity: 0;
    }
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%,
    20% {
        -webkit-transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
        transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.a-spinning {
    -webkit-animation: spinning 2s linear infinite;
    animation: spinning 2s linear infinite;
}

.a-spinning-hover:hover {
    -webkit-animation: spinning 2s linear infinite;
    animation: spinning 2s linear infinite;
}

.a-tada {
    -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite;
}

.a-tada-hover:hover {
    -webkit-animation: tada 1.5s ease infinite;
    animation: tada 1.5s ease infinite;
}

.a-flashing {
    -webkit-animation: flashing 1.5s infinite linear;
    animation: flashing 1.5s infinite linear;
}

.a-flashing-hover:hover {
    -webkit-animation: flashing 1.5s infinite linear;
    animation: flashing 1.5s infinite linear;
}

.a-bursting {
    -webkit-animation: bursting 1.5s infinite linear;
    animation: bursting 1.5s infinite linear;
}

.a-bursting-hover:hover {
    -webkit-animation: bursting 1.5s infinite linear;
    animation: bursting 1.5s infinite linear;
}

.a-fading-up {
    -webkit-animation: fading-up 1.5s infinite linear;
    animation: fading-up 1.5s infinite linear;
}

.a-fading-up-hover:hover {
    -webkit-animation: fading-up 1.5s infinite linear;
    animation: fading-up 1.5s infinite linear;
}

.a-fading-down {
    -webkit-animation: fading-down 1.5s infinite linear;
    animation: fading-down 1.5s infinite linear;
}

.a-fading-down-hover:hover {
    -webkit-animation: fading-down 1.5s infinite linear;
    animation: fading-down 1.5s infinite linear;
}

.a-fading-left {
    -webkit-animation: fading-left 1.5s infinite linear;
    animation: fading-left 1.5s infinite linear;
}

.a-fading-left-hover:hover {
    -webkit-animation: fading-left 1.5s infinite linear;
    animation: fading-left 1.5s infinite linear;
}

.a-fading-right {
    -webkit-animation: fading-right 1.5s infinite linear;
    animation: fading-right 1.5s infinite linear;
}

.a-fading-right-hover:hover {
    -webkit-animation: fading-right 1.5s infinite linear;
    animation: fading-right 1.5s infinite linear;
}
.a-pull-left {
    float: left;
    margin-right: 0.3em !important;
}

.a-pull-right {
    float: right;
    margin-left: 0.3em !important;
}

.a-rotate-90 {
    transform: rotate(90deg);
}

.a-rotate-180 {
    transform: rotate(180deg);
}

.a-rotate-270 {
    transform: rotate(270deg);
}

.a-flip-horizontal {
    transform: scaleX(-1);
}

.a-flip-vertical {
    transform: scaleY(-1);
}
