/*
 * Variáveis CSS e temas
 * ---------------------
 * Variáveis globais para cores e tamanhos.
 * --ifm-color-primary se refere à cor principal da interface.
 */

/* Tema Claro (Light) */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Cores primárias (A definir) */
  --ifm-color-primary: #fb8a31;
  --ifm-color-primary-dark: #e47017;
  --ifm-color-primary-darker: #ff7308;
  --ifm-color-primary-darkest: #cc5800;
  --ifm-color-primary-light: #ff9d52;
  --ifm-color-primary-lighter: #df8943;
  --ifm-color-primary-lightest: #f8ae76;

  /* Estilos de código */
  --ifm-code-font-size: 95%;

  /* Estilos globais (React/Vite) */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Tema Escuro (Dark)
 * ------------------
 * Estilos aplicados quando o usuário prefere o modo de cores escuro.
 */
[data-theme="dark"] {
  /* Cores primárias no tema escuro (A definir) */
  --ifm-color-primary: #fb8a31;
  --ifm-color-primary-dark: #e47017;
  --ifm-color-primary-darker: #ff7308;
  --ifm-color-primary-darkest: #cc5800;
  --ifm-color-primary-light: #ff9d52;
  --ifm-color-primary-lighter: #df8943;
  --ifm-color-primary-lightest: #f8ae76;
}

/*
 * Mídia Query para Tema Claro
 * ----------------------------
 * Estilos aplicados quando o usuário prefere o modo de cores claro.
 */
@media (prefers-color-scheme: light) {
  :root {
    /* Cores de fonte e fundo no tema claro */
    color: #213547;
    background-color: #ffffff;
  }

  /* Estilos de link no tema claro */
  a:hover {
    color: #747bff;
  }

  /* Estilo de botão no tema claro */
  button {
    background-color: #f9f9f9;
  }
}

/*
 * Estilos da Aplicação Principal
 * -------------------------------
 * Estilos para o container principal e para o corpo.
 */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/*
 * Estilos de Componentes Genéricos
 * ---------------------------------
 * Estilos para tags básicas como <h1> e <a>, incluindo estados de hover.
 */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/*
 * Estilos para o Botão
 * --------------------
 * Define o visual do botão, incluindo bordas, padding, fontes e transições.
 */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
